body{
  background-color: #efefef;
}
h1{
  text-align: center;
}
.btn-center{
text-align: center;
}
#update{
  font-size: 16px;
  border-radius: 10px;
  background-color: orange;
  color: white;
}
li{
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  margin-bottom: 5px;
}
.row{
  border: 2px solid black;
  height: auto;
  border-radius: 5px;
  padding-top: 0.5%;
  padding-left: 5px;
}
li:hover{
  background-color: white;
}
.accordion{
  float: right;
  font-size: 16px;
  border-radius: 10px;
  background-color: #7f89db;
  color: white;
}
.accordion.active{
  background-color: black;
}
#txt{
  display: none;
}
#previous{
  background-color: green;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 100px;
}
#next{
  background-color: green;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 100px;
}
.btn-pages{
  text-align: center;
}
input{
  border-radius: 10px;
  width: 50px;
}
