body{
  margin: 0px;
}
li:hover{
  border-radius: 10px;
  background-color: lightgrey;
}
.ContactList{
  width: 390px;
  height: auto;
  margin-left: 35%;
  text-align: center;
}
.search{
  width: 170px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.photo{
  width: 95px;
  height: auto;
  float: left;
  border-radius: 50px;
}
.Contact{
  list-style: none;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 25px;
}
.contact_name{
  display: inline-block;
  margin-right: 10px;
}
.contact_surname{
  display: inline-block;
}
.contact_phone{
  display: inline-block;
  color: grey;
  font-size: 20px;
}
.buttons{
  float: right;
}
input.add {
  display: inline-block;
  font-family: Arial;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
input.add:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
input.add:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
input.delete {
  display: inline-block;
  font-family: Arial;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: red;
  box-shadow: inset red 0 -1px 1px, inset 0 1px 1px red, red 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
input.delete:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
input.delete:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
.addContact{
  width: 100px;
  height: 100px;
  background-color: red;
}
